{% extends 'index.html' %}

{% block content %}

<style>
  #like-form {
    display: flex;
    flex: 1;
  }

  .card-footer {
    display: flex;
  }

  .create-post {
    text-decoration: none;
    background-color: #3F51B5;
    color: azure;
  }
</style>

<h1 class="text-center text-decoration-underline fw-bold" style="color: #0D47A1;">Forums</h1>

<a href="{% url 'create-post' %}" class="rounded-pill p-2 m-2 create-post">Create post</a><br>
<hr>

{% for post in posts %}
<div class="card rounded-4">
  <h5 class="card-header">{{post.user.username}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.description}}</p>

    <a href="{% url 'post' post.id %}" class="btn btn-outline-secondary p-1">View more</a>
  </div>
  <div class="card-footer">

    <div id="like-form">
      <form method="POST" action="{% url 'like-post' post.id %}">
        {% csrf_token %}
        <button type="submit" name="like-post" style="border: none;">
          <i id="{{post.id}}-like-dislike" class="fa fa-heart"></i> ({{post.likes.count}})
        </button>
      </form>
    </div>

    <div>Created: {{post.created|timesince}} ago</div>
  </div>
</div><br>
{% endfor %}

<!-- --------------JS--------------- -->



<script>

  icons = document.querySelectorAll('.fa')

  icons.forEach(icon => {
    icon.addEventListener("click", () => {
      if (icon.style.color === "red") {
        icon.style.color = "grey";
      }
      else {
        icon.style.color = "red";
      }
    })
  });


</script>

{% endblock content %}